@import "vars"

@media only screen and (max-width : 1160px)
	.header_left_block
		margin-right: 0
	.header_left_block .header_info h1,
		font-size: 22px
	.header_left_block .header_info h2
		font-size: 20px
	.header_menu
		width: 980px
	.header_menu ul li
		font-size: 20px
	.content_icons
		width: 980px
		padding: 0
	.content_icons > div:nth-child(1) > img:nth-child(1),
	.content_icons > div:nth-child(2) > img:nth-child(1)
		width: 76px
	.content_icons > div:nth-child(3) > img:nth-child(1)
		width: 96px
	.content_icons > div:nth-child(4) > img:nth-child(1)
		width: 60px
	.content_icons > div:nth-child(5) > img:nth-child(1)
		width: 80px
	.content_icons > div:nth-child(6) > img:nth-child(1)
		width: 126px
	.content_icons
		margin-top: 20px
		margin-bottom: 22px
		.icon_desc
			font-size: 18px
			margin-top: 0
	.content_items_wrap 
		width: 980px
		.content_item
			width: 176px
			height: 222px
			margin-right: 6px
			margin-bottom: 16px
			margin-left: 10px
		span
			font-size: 18px
	.footer_content
		display: inline-flex
		flex-wrap: wrap
		justify-content: center
		width: 980px
	.footer_right_block
		margin-bottom: 20px
		.map_large_screen
			display: none
		.map_medium_screen
			display: block

@media only screen and (max-width : 980px)
	.header_top_bcg
		display: none
	.header_left_block 
		a
			margin-top: 0
		img
			width: 140px
			height: auto
	.header_left_block .header_info
		h1, h2
			margin-bottom: 12px
		h1
			font-size: 18px
			line-height: 18px
		h2
			font-size: 16px
			line-height: 16px
	.header_menu
		display: none
	.header_right_block
		display: inline-flex
		align-items: center
		justify-content: space-between
		position: absolute
		right: 0
		left: 0
		margin: auto
		width: 560px
		top: 86vh
		margin-top: 0
	.header_call_logo_phones
		margin-bottom: -6px
	.header_call_logo_phones img, .header_phones
		margin-top: 0
	.btn_entry, .btn_registration
		border: 1px solid #206408
	.header_btns
		order: 2
	.btn_entry
		margin-right: 4px
	.header_call_logo_phones img
		width: 50px
	.header_phones 
		margin-left: 0
		a
			font-size: 20px
			line-height: 20px
	.content_icons, .content_items_wrap
		width: 640px
	.content_icons > div:nth-child(1) > img:nth-child(1),
	.content_icons > div:nth-child(2) > img:nth-child(1)
		width: 50px
	.content_icons > div:nth-child(3) > img:nth-child(1)
		width: 70px
	.content_icons > div:nth-child(4) > img:nth-child(1)
		width: 42px
	.content_icons > div:nth-child(5) > img:nth-child(1)
		width: 54px
	.content_icons > div:nth-child(6) > img:nth-child(1)
		width: 100px
	.content_icons span
		font-size: 16px
		line-height: 16px
	.content_icons .icon_desc
		margin-top: -4px
	.content_items_wrap .content_item
		width: 194px
		margin-right: 6px !important
		margin-bottom: 16px
		margin-left: 10px
	.footer_content
		width: 640px
		.footer_left_block
			margin-right: 0
		.footer_middle_block
			margin-right: 0
	.footer_left_block img
		width: 190px
		height: auto
	.footer_middle_block
		height: 166px
		font-size: 20px
		justify-content: space-between
		margin-top: 38px
	.footer_right_block
		margin-bottom: 10px

@media only screen and (max-width : 640px)
	.header_left_block 
		height: 0
		margin-top: 6px
		img
			width: 56px
		.header_info
			margin-right: 0
			margin-left: 0
			h1, h2
				font-size: 12px
				line-height: 12px
				margin-bottom: 4px

	.header_phones > br:nth-child(2)
		display: none