html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: none
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}


[class^="icon-"],
[class*=" icon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-slider-right:before {
	content: "\e600"
}

.icon-slider-left:before {
	content: "\e601"
}

.icon-nav-menu:before {
	content: "\e602"
}

.icon-arrow-down:before,
.icon-dropdown-toggle:before {
	content: "\e603"
}

.icon-file-upload-remove:before {
	content: "\e900"
}

.icon-file-upload-icon:before {
	content: "\e903"
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	height: 100%
}

body {
	margin: 0;
	min-height: 100%;
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block
}

html.mod-touch * {
	background-attachment: scroll !important
}

.block {
	display: block
}

.inline-block {
	max-width: 100%;
	display: inline-block
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.clearfix:after {
	clear: both
}

.hidden {
	display: none
}

.button {
	display: inline-block;
	padding: 9px 15px;
	background-color: #3898EC;
	color: white;
	border: 0;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0
}

input.button {
	-webkit-appearance: button
}

html[dynpage] [cloak] {
	color: transparent !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin-bottom: 10px
}

h1 {
	font-size: 38px;
	line-height: 44px;
	margin-top: 20px
}

h2 {
	font-size: 32px;
	line-height: 36px;
	margin-top: 20px
}

h3 {
	font-size: 24px;
	line-height: 30px;
	margin-top: 20px
}

h4 {
	font-size: 18px;
	line-height: 24px;
	margin-top: 10px
}

h5 {
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px
}

h6 {
	font-size: 12px;
	line-height: 18px;
	margin-top: 10px
}

p {
	margin-top: 0;
	margin-bottom: 10px
}

blockquote {
	margin: 0 0 10px 0;
	padding: 10px 20px;
	border-left: 5px solid #E2E2E2;
	font-size: 18px;
	line-height: 22px
}

figure {
	margin: 0;
	margin-bottom: 10px
}

figcaption {
	margin-top: 5px;
	text-align: center
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 40px
}

.list-unstyled {
	padding-left: 0;
	list-style: none
}

.embed:before,
.embed:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.embed:after {
	clear: both
}

.video {
	width: 100%;
	position: relative;
	padding: 0
}

.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0
}

button,
html input[type="button"],
input[type="reset"] {
	border: 0;
	cursor: pointer;
	-webkit-appearance: button
}

.lb_main_form {
	margin: 0 0 80px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold
}

.input,
.select {
	display: block;
	width: 100%;
	min-height: 30px;
	max-height: 30px;
	padding: 0 12px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc
}

.input:-moz-placeholder,
.select:-moz-placeholder {
	color: #999
}

.input::-moz-placeholder,
.select::-moz-placeholder {
	color: #999;
	opacity: 1
}

.input:-ms-input-placeholder,
.select:-ms-input-placeholder {
	color: #999
}

.input::-webkit-input-placeholder,
.select::-webkit-input-placeholder {
	color: #999
}

.input:focus,
.select:focus {
	border-color: #3898EC;
	outline: 0
}

.input[disabled],
.select[disabled],
.input[readonly],
.select[readonly],
fieldset[disabled] .input,
fieldset[disabled] .select {
	cursor: not-allowed;
	background-color: #eeeeee
}

textarea.input,
textarea.select {
	height: auto
}

.select {
	background-color: #f3f3f3
}

.select[multiple] {
	height: auto
}

.form-label {
	display: inline-block;
	cursor: pointer;
	font-weight: normal;
	margin-bottom: 0
}

.radio {
	display: block;
	margin-bottom: 5px;
	padding-left: 20px
}

.radio:before,
.radio:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.radio:after {
	clear: both
}

.radio-input {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
	float: left;
	margin-left: -20px
}

.radio-input {
	margin-top: 3px
}

.file-upload {
	display: block;
	margin-bottom: 10px
}

.file-upload-input {
	width: .1px;
	height: .1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -100
}

.file-upload-default,
.file-upload-uploading,
.file-upload-success {
	display: inline-block;
	color: #333333
}

.file-upload-error {
	display: block;
	margin-top: 10px
}

.file-upload-default.hidden,
.file-upload-uploading.hidden,
.file-upload-error.hidden,
.file-upload-success.hidden {
	display: none
}

.file-upload-uploading-btn {
	display: flex;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	padding: 8px 12px;
	border: 1px solid #cccccc;
	background-color: #fafafa
}

.file-upload-file {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	margin: 0;
	padding: 8px 9px 8px 11px;
	border: 1px solid #cccccc;
	background-color: #fafafa
}

.file-upload-file-name {
	font-size: 14px;
	font-weight: normal;
	display: block
}

.file-remove-link {
	margin-top: 3px;
	margin-left: 10px;
	width: auto;
	height: auto;
	padding: 3px;
	display: block;
	cursor: pointer
}

.icon-file-upload-remove {
	margin: auto;
	font-size: 10px
}

.file-upload-error-msg {
	display: inline-block;
	color: #ea384c;
	padding: 2px 0
}

.file-upload-info {
	display: inline-block;
	line-height: 38px;
	padding: 0 12px
}

.file-upload-label {
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	padding: 8px 12px;
	border: 1px solid #cccccc;
	background-color: #fafafa
}

.icon-file-upload-icon,
.icon-file-upload-uploading {
	display: inline-block;
	margin-right: 8px;
	width: 20px
}

.icon-file-upload-uploading {
	height: 20px
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px
}

.container:before,
.container:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.container:after {
	clear: both
}

.container .row {
	margin-left: -10px;
	margin-right: -10px
}

.row:before,
.row:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.row:after {
	clear: both
}

.row .row {
	margin-left: 0;
	margin-right: 0
}

.col {
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px
}

.col .col {
	padding-left: 0;
	padding-right: 0
}

.col-1 {
	width: 8.33333333%
}

.col-2 {
	width: 16.66666667%
}

.col-3 {
	width: 25%
}

.col-4 {
	width: 33.33333333%
}

.col-5 {
	width: 41.66666667%
}

.col-6 {
	width: 50%
}

.col-7 {
	width: 58.33333333%
}

.col-8 {
	width: 66.66666667%
}

.col-9 {
	width: 75%
}

.col-10 {
	width: 83.33333333%
}

.col-11 {
	width: 91.66666667%
}

.col-12 {
	width: 100%
}

.hidden-main {
	display: none !important
}

@media screen and (max-width:991px) {
	.container {
		max-width: 728px
	}

	.hidden-main {
		display: inherit !important
	}

	.hidden-medium {
		display: none !important
	}

	.col-medium-1 {
		width: 8.33333333%
	}

	.col-medium-2 {
		width: 16.66666667%
	}

	.col-medium-3 {
		width: 25%
	}

	.col-medium-4 {
		width: 33.33333333%
	}

	.col-medium-5 {
		width: 41.66666667%
	}

	.col-medium-6 {
		width: 50%
	}

	.col-medium-7 {
		width: 58.33333333%
	}

	.col-medium-8 {
		width: 66.66666667%
	}

	.col-medium-9 {
		width: 75%
	}

	.col-medium-10 {
		width: 83.33333333%
	}

	.col-medium-11 {
		width: 91.66666667%
	}

	.col-medium-12 {
		width: 100%
	}

	.col-stack {
		width: 100%;
		left: auto;
		right: auto
	}
}

@media screen and (max-width:767px) {
	.hidden-main {
		display: inherit !important
	}

	.hidden-medium {
		display: inherit !important
	}

	.hidden-small {
		display: none !important
	}

	.row,
	.container .row {
		margin-left: 0;
		margin-right: 0
	}

	.col {
		width: 100%;
		left: auto;
		right: auto
	}

	.col-small-1 {
		width: 8.33333333%
	}

	.col-small-2 {
		width: 16.66666667%
	}

	.col-small-3 {
		width: 25%
	}

	.col-small-4 {
		width: 33.33333333%
	}

	.col-small-5 {
		width: 41.66666667%
	}

	.col-small-6 {
		width: 50%
	}

	.col-small-7 {
		width: 58.33333333%
	}

	.col-small-8 {
		width: 66.66666667%
	}

	.col-small-9 {
		width: 75%
	}

	.col-small-10 {
		width: 83.33333333%
	}

	.col-small-11 {
		width: 91.66666667%
	}

	.col-small-12 {
		width: 100%
	}
}

@media screen and (max-width:479px) {
	.container {
		max-width: none
	}

	.hidden-main {
		display: inherit !important
	}

	.hidden-medium {
		display: inherit !important
	}

	.hidden-small {
		display: inherit !important
	}

	.hidden-tiny {
		display: none !important
	}

	.col {
		width: 100%
	}

	.col-tiny-1 {
		width: 8.33333333%
	}

	.col-tiny-2 {
		width: 16.66666667%
	}

	.col-tiny-3 {
		width: 25%
	}

	.col-tiny-4 {
		width: 33.33333333%
	}

	.col-tiny-5 {
		width: 41.66666667%
	}

	.col-tiny-6 {
		width: 50%
	}

	.col-tiny-7 {
		width: 58.33333333%
	}

	.col-tiny-8 {
		width: 66.66666667%
	}

	.col-tiny-9 {
		width: 75%
	}

	.col-tiny-10 {
		width: 83.33333333%
	}

	.col-tiny-11 {
		width: 91.66666667%
	}

	.col-tiny-12 {
		width: 100%
	}
}

.widget {
	position: relative
}

.widget-map {
	width: 100%;
	height: 400px
}

.widget-map label {
	width: auto;
	display: inline
}

.widget-map img {
	max-width: inherit
}

.widget-map .gm-style-iw {
	text-align: center
}

.widget-map .gm-style-iw>button {
	display: none !important
}

.widget-twitter {
	overflow: hidden
}

.widget-twitter-count-shim {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 28px;
	height: 20px;
	text-align: center;
	background: white;
	border: #758696 solid 1px;
	border-radius: 3px
}

.widget-twitter-count-shim * {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.widget-twitter-count-shim .widget-twitter-count-inner {
	position: relative;
	font-size: 15px;
	line-height: 12px;
	text-align: center;
	color: #999;
	font-family: serif
}

.widget-twitter-count-shim .widget-twitter-count-clear {
	position: relative;
	display: block
}

.widget-twitter-count-shim.large {
	width: 36px;
	height: 28px;
	margin-left: 7px
}

.widget-twitter-count-shim.large .widget-twitter-count-inner {
	font-size: 18px;
	line-height: 18px
}

.widget-twitter-count-shim:not(.vertical) {
	margin-left: 5px;
	margin-right: 8px
}

.widget-twitter-count-shim:not(.vertical).large {
	margin-left: 6px
}

.widget-twitter-count-shim:not(.vertical):before,
.widget-twitter-count-shim:not(.vertical):after {
	top: 50%;
	left: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.widget-twitter-count-shim:not(.vertical):before {
	border-color: rgba(117, 134, 150, 0);
	border-right-color: #5d6c7b;
	border-width: 4px;
	margin-left: -9px;
	margin-top: -4px
}

.widget-twitter-count-shim:not(.vertical).large:before {
	border-width: 5px;
	margin-left: -10px;
	margin-top: -5px
}

.widget-twitter-count-shim:not(.vertical):after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: white;
	border-width: 4px;
	margin-left: -8px;
	margin-top: -4px
}

.widget-twitter-count-shim:not(.vertical).large:after {
	border-width: 5px;
	margin-left: -9px;
	margin-top: -5px
}

.widget-twitter-count-shim.vertical {
	width: 61px;
	height: 33px;
	margin-bottom: 8px
}

.widget-twitter-count-shim.vertical:before,
.widget-twitter-count-shim.vertical:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.widget-twitter-count-shim.vertical:before {
	border-color: rgba(117, 134, 150, 0);
	border-top-color: #5d6c7b;
	border-width: 5px;
	margin-left: -5px
}

.widget-twitter-count-shim.vertical:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: white;
	border-width: 4px;
	margin-left: -4px
}

.widget-twitter-count-shim.vertical .widget-twitter-count-inner {
	font-size: 18px;
	line-height: 22px
}

.widget-twitter-count-shim.vertical.large {
	width: 76px
}

.widget-gplus {
	overflow: hidden
}

.background-video {
	position: relative;
	overflow: hidden;
	height: 500px;
	color: white
}

.background-video>video {
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	right: -100%;
	bottom: -100%;
	top: -100%;
	left: -100%;
	object-fit: cover;
	z-index: -100
}

.background-video>video::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none
}

.slider {
	position: relative;
	height: 300px;
	text-align: center;
	background: #dddddd;
	clear: both;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0)
}

.slider-mask {
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 1;
	left: 0;
	right: 0;
	height: 100%;
	white-space: nowrap
}

.slide {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	white-space: normal;
	text-align: left
}

.slider-nav {
	position: absolute;
	z-index: 2;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding-top: 10px;
	height: 40px;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0)
}

.slider-nav.round>div {
	border-radius: 100%
}

.slider-nav.num>div {
	width: auto;
	height: auto;
	padding: .2em .5em;
	font-size: inherit;
	line-height: inherit
}

.slider-nav.shadow>div {
	box-shadow: 0 0 3px rgba(51, 51, 51, 0.4)
}

.slider-nav-invert {
	color: #fff
}

.slider-nav-invert>div {
	background-color: rgba(34, 34, 34, 0.4)
}

.slider-nav-invert>div.active {
	background-color: #222
}

.slider-dot {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	margin: 0 3px .5em;
	transition: background-color 100ms, color 100ms
}

.slider-dot.active {
	background-color: #fff
}

.slider-arrow-left,
.slider-arrow-right {
	position: absolute;
	width: 80px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	cursor: pointer;
	overflow: hidden;
	color: white;
	font-size: 40px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.slider-arrow-left [class^="icon-"],
.slider-arrow-right [class^="icon-"],
.slider-arrow-left [class*=" icon-"],
.slider-arrow-right [class*=" icon-"] {
	position: absolute
}

.slider-arrow-left {
	z-index: 3;
	right: auto
}

.slider-arrow-right {
	z-index: 4;
	left: auto
}

.icon-slider-left,
.icon-slider-right {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 1em;
	height: 1em
}

.dropdown {
	display: inline-block;
	position: relative;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	z-index: 900
}

.dropdown-btn,
.dropdown-toggle,
.dropdown-link {
	position: relative;
	vertical-align: top;
	text-decoration: none;
	color: #222222;
	padding: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap
}

.dropdown-toggle {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	cursor: pointer;
	padding-right: 40px
}

.icon-dropdown-toggle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-right: 20px;
	width: 1em;
	height: 1em
}

.dropdown-list {
	position: absolute;
	background: #dddddd;
	display: none;
	min-width: 100%
}

.dropdown-list.open {
	display: block
}

.dropdown-link {
	padding: 10px 20px;
	display: block;
	color: #222222
}

.dropdown-link.active_tab {
	color: #0082f3
}

.nav[collapse="all"] .dropdown,
.nav[collapse="all"] .dropdown-toggle {
	display: block
}

.nav[collapse="all"] .dropdown-list {
	position: static
}

@media screen and (max-width:991px) {

	.nav[collapse="medium"] .dropdown,
	.nav[collapse="medium"] .dropdown-toggle {
		display: block
	}

	.nav[collapse="medium"] .dropdown-list {
		position: static
	}
}

@media screen and (max-width:767px) {

	.nav[collapse="small"] .dropdown,
	.nav[collapse="small"] .dropdown-toggle {
		display: block
	}

	.nav[collapse="small"] .dropdown-list {
		position: static
	}

	.nav-brand {
		padding-left: 10px
	}
}

@media screen and (max-width:479px) {

	.nav[collapse="tiny"] .dropdown,
	.nav[collapse="tiny"] .dropdown-toggle {
		display: block
	}

	.nav[collapse="tiny"] .dropdown-list {
		position: static
	}
}

.lightbox-backdrop {
	color: #000;
	cursor: auto;
	font-family: serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	list-style: disc;
	text-align: start;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Ubuntu, "Segoe UI", Verdana, sans-serif;
	font-size: 17px;
	line-height: 1.2;
	font-weight: 300;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
	z-index: 2000;
	outline: 0;
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate(0, 0)
}

.lightbox-backdrop,
.lightbox-container {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

.lightbox-content {
	position: relative;
	height: 100vh;
	overflow: hidden
}

.lightbox-view {
	position: absolute;
	width: 100vw;
	height: 100vh;
	opacity: 0
}

.lightbox-view:before {
	content: "";
	height: 100vh
}

.lightbox-group,
.lightbox-group .lightbox-view,
.lightbox-group .lightbox-view:before {
	height: 86vh
}

.lightbox-frame,
.lightbox-view:before {
	display: inline-block;
	vertical-align: middle
}

.lightbox-figure {
	position: relative;
	margin: 0
}

.lightbox-group .lightbox-figure {
	cursor: pointer
}

.lightbox-img {
	width: auto;
	height: auto;
	max-width: none
}

.lightbox-image {
	display: block;
	float: none;
	max-width: 100vw;
	max-height: 100vh
}

.lightbox-group .lightbox-image {
	max-height: 86vh
}

.lightbox-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .5em 1em;
	background: rgba(0, 0, 0, 0.4);
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.lightbox-embed {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.lightbox-control {
	position: absolute;
	top: 0;
	width: 4em;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s
}

.lightbox-left {
	display: none;
	bottom: 0;
	left: 0;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yMCAwIDI0IDQwIiB3aWR0aD0iMjQiIGhlaWdodD0iNDAiPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHBhdGggZD0ibTAgMGg1djIzaDIzdjVoLTI4eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDN2MjNoMjN2M2gtMjZ6IiBmaWxsPSIjZmZmIi8+PC9nPjwvc3ZnPg==")
}

.lightbox-right {
	display: none;
	right: 0;
	bottom: 0;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMjQgNDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSI0MCI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMC0waDI4djI4aC01di0yM2gtMjN6IiBvcGFjaXR5PSIuNCIvPjxwYXRoIGQ9Im0xIDFoMjZ2MjZoLTN2LTIzaC0yM3oiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+")
}

.lightbox-close {
	right: 0;
	height: 2.6em;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=");
	background-size: 18px
}

.lightbox-strip {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 1vh;
	line-height: 0;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden
}

.lightbox-item {
	display: inline-block;
	width: 10vh;
	padding: 2vh 1vh;
	box-sizing: content-box;
	cursor: pointer;
	-webkit-transform: translate3d(0, 0, 0)
}

.lightbox-active {
	opacity: .3
}

.lightbox-thumbnail {
	position: relative;
	height: 10vh;
	background: #222;
	overflow: hidden
}

.lightbox-thumbnail-image {
	position: absolute;
	top: 0;
	left: 0
}

.lightbox-thumbnail .lightbox-tall {
	top: 50%;
	width: 100%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

.lightbox-thumbnail .lightbox-wide {
	left: 50%;
	height: 100%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}

.lightbox-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	border: 5px solid rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	-webkit-animation: spin .8s infinite linear;
	animation: spin .8s infinite linear
}

.lightbox-spinner:after {
	content: "";
	position: absolute;
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	border: 3px solid transparent;
	border-bottom-color: #fff;
	border-radius: 50%
}

.lightbox-hide {
	display: none
}

.lightbox-noscroll {
	overflow: hidden
}

@media (min-width:768px) {
	.lightbox-content {
		height: 96vh;
		margin-top: 2vh
	}

	.lightbox-view,
	.lightbox-view:before {
		height: 96vh
	}

	.lightbox-group,
	.lightbox-group .lightbox-view,
	.lightbox-group .lightbox-view:before {
		height: 84vh
	}

	.lightbox-image {
		max-width: 96vw;
		max-height: 96vh
	}

	.lightbox-group .lightbox-image {
		max-width: 82.3vw;
		max-height: 84vh
	}

	.lightbox-left,
	.lightbox-right {
		display: block;
		opacity: .5
	}

	.lightbox-close {
		opacity: .8
	}

	.lightbox-control:hover {
		opacity: 1
	}
}

.lightbox-inactive,
.lightbox-inactive:hover {
	opacity: 0
}

.richtext:before,
.richtext:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.richtext:after {
	clear: both
}

.richtext[contenteditable="true"]:before,
.richtext[contenteditable="true"]:after {
	white-space: initial
}

.richtext ol,
.richtext ul {
	overflow: hidden
}

.richtext .richtext-figure-selected.richtext-figure-type-video div:after,
.richtext .richtext-figure-selected[rt-type="video"] div:after {
	outline: 2px solid #2895f7
}

.richtext .richtext-figure-selected.richtext-figure-type-image div,
.richtext .richtext-figure-selected[rt-type="image"] div {
	outline: 2px solid #2895f7
}

.richtext figure.richtext-figure-type-video>div:after,
.richtext figure[rt-type="video"]>div:after {
	content: '';
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

.richtext figure {
	position: relative;
	max-width: 60%
}

.richtext figure>div:before {
	cursor: default !important
}

.richtext figure img {
	width: 100%
}

.richtext figure figcaption.richtext-figcaption-placeholder {
	opacity: .6
}

.richtext figure div {
	font-size: 0;
	color: transparent
}

.richtext figure.richtext-figure-type-image,
.richtext figure[rt-type="image"] {
	display: table
}

.richtext figure.richtext-figure-type-image>div,
.richtext figure[rt-type="image"]>div {
	display: inline-block
}

.richtext figure.richtext-figure-type-image>figcaption,
.richtext figure[rt-type="image"]>figcaption {
	display: table-caption;
	caption-side: bottom
}

.richtext figure.richtext-figure-type-video,
.richtext figure[rt-type="video"] {
	width: 60%;
	height: 0
}

.richtext figure.richtext-figure-type-video iframe,
.richtext figure[rt-type="video"] iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.richtext figure.richtext-figure-type-video>div,
.richtext figure[rt-type="video"]>div {
	width: 100%
}

.richtext figure.richtext-align-center {
	margin-right: auto;
	margin-left: auto;
	clear: both
}

.richtext figure.richtext-align-center.richtext-figure-type-image>div,
.richtext figure.richtext-align-center[rt-type="image"]>div {
	max-width: 100%
}

.richtext figure.richtext-align-normal {
	clear: both
}

.richtext figure.richtext-align-fullwidth {
	width: 100%;
	max-width: 100%;
	text-align: center;
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto
}

.richtext figure.richtext-align-fullwidth>div {
	display: inline-block;
	padding-bottom: inherit
}

.richtext figure.richtext-align-fullwidth>figcaption {
	display: block
}

.richtext figure.richtext-align-floatleft {
	float: left;
	margin-right: 15px;
	clear: none
}

.richtext figure.richtext-align-floatright {
	float: right;
	margin-left: 15px;
	clear: none
}

.nav {
	position: relative;
	background: #dddddd;
	z-index: 1000
}

.nav:before,
.nav:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.nav:after {
	clear: both
}

.nav-brand {
	position: relative;
	float: left;
	text-decoration: none;
	color: #333333
}

.nav-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #222222;
	padding: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto
}

.nav-link.active_tab {
	color: #0082f3
}

.nav-menu {
	position: relative;
	float: right
}

.nav-menu-open {
	display: block !important;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #C8C8C8;
	text-align: center;
	overflow: visible;
	min-width: 200px
}

.nav-link-open {
	display: block;
	position: relative
}

.nav-overlay {
	position: absolute;
	overflow: hidden;
	display: none;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%
}

.nav-overlay .nav-menu-open {
	top: 0
}

.nav[animation="over-left"] .nav-overlay {
	width: auto
}

.nav[animation="over-left"] .nav-overlay,
.nav[animation="over-left"] .nav-menu-open {
	right: auto;
	z-index: 1;
	top: 0
}

.nav[animation="over-right"] .nav-overlay {
	width: auto
}

.nav[animation="over-right"] .nav-overlay,
.nav[animation="over-right"] .nav-menu-open {
	left: auto;
	z-index: 1;
	top: 0
}

.nav-button {
	position: relative;
	float: right;
	padding: 18px;
	font-size: 24px;
	display: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.nav-button.open {
	background-color: #C8C8C8;
	color: white
}

.nav[collapse="all"] .nav-menu {
	display: none
}

.nav[collapse="all"] .nav-button {
	display: block
}

@media screen and (max-width:991px) {
	.nav[collapse="medium"] .nav-menu {
		display: none
	}

	.nav[collapse="medium"] .nav-button {
		display: block
	}
}

@media screen and (max-width:767px) {
	.nav[collapse="small"] .nav-menu {
		display: none
	}

	.nav[collapse="small"] .nav-button {
		display: block
	}

	.nav-brand {
		padding-left: 10px
	}
}

@media screen and (max-width:479px) {
	.nav[collapse="tiny"] .nav-menu {
		display: none
	}

	.nav[collapse="tiny"] .nav-button {
		display: block
	}
}

.tabs {
	position: relative
}

.tabs:before,
.tabs:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2
}

.tabs:after {
	clear: both
}

.tab-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 9px 30px;
	text-align: left;
	cursor: pointer;
	color: #222222;
	background-color: #dddddd
}

.tab-link.active_tab {
	background-color: #C8C8C8
}

.tab-content {
	position: relative;
	display: block;
	overflow: hidden
}

.tab_pane {
	position: relative;
	display: none
}

.tab-active {
	display: block
}

@media screen and (max-width:479px) {
	.tab-link {
		display: block
	}
}

.ix-emptyfix:after {
	content: ""
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.dyn-empty {
	padding: 10px;
	background-color: #dddddd
}

.dyn-hide {
	display: none !important
}

.dyn-bind-empty {
	display: none !important
}

.condition-invisible {
	display: none !important
}


.header {
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
}

.tab_title {
	width: 140px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	border-radius: 4px;
}

.tab_title.active_tab {
	background-color: #1a8ff7;
	color: #fff;
}

.page_tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.form-block {
	max-width: 700px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.submit-button {
	display: block;
	width: 140px;
	margin-left: auto;
	padding: 9px 6px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.lb_main_form {
	max-width: 700px;
	padding-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(26, 143, 247, 0.4);
}

.field-label {
	display: inline-block;
	width: 125px;
	height: auto;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.text-field {
	display: inline-block;
	width: 82%;
	height: 100%;
	margin-bottom: 0;
	border-radius: 4px;
}

.field-label-2 {
	margin-top: 10px;
	font-size: 16px;
	text-align: center;
}

.field-label-3 {
	display: block;
	width: 350px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
}

.text-field-2 {
	display: block;
	width: 100px;
	height: 100%;
	margin-bottom: 0px;
	margin-left: auto;
	border-radius: 4px;
}

.div-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.select-field {
	width: 176px;
	height: 100%;
	margin-bottom: 0px;
	padding: 0px 2px;
	border-radius: 4px;
}

.button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100px;
	height: 100%;
	margin-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 4px;
}

.div-block-2 {
	margin-bottom: 0px;
	padding: 10px;
}

.div-block-3 {
	padding: 10px;
}

.div-block-4 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.lb_block_form_main {
	margin-bottom: 0px;
	padding: 10px;
}

.div-block-6 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

.clone_form_button {
	width: 150px;
	background-color:
	teal;
	text-align: center;
	display: inline-block;
	padding: 9px 15px;
	color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: auto;
}

.remove_form_button {
	width: 140px;
	background-color: red;
	text-align: center;
	display: inline-block;
    padding: 9px 6px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	.lb_main_form {
		padding-right: 10px;
		padding-left: 10px;
	}

	.text-field {
		width: 77%;
	}

	.field-label-3 {
		width: auto;
	}

	.div-block {
		margin-bottom: 14px;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.select-field {
		margin-left: auto;
	}

	.button {
		margin-left: 20px;
	}
}

@media (max-width: 479px) {
	.field-label {
		font-size: 14px;
	}

	.text-field {
		width: 73%;
	}

	.field-label-2 {
		width: 100%;
	}

	.field-label-3 {
		display: block;
		width: auto;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}

	.div-block {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: auto;
		margin-bottom: 0px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.div-block.mob {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.select-field {
		width: 176px;
		height: 30px;
		margin-left: 0px;
	}

	.button {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100px;
		height: 30px;
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: 0px;
	}

	.div-block-2 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: auto;
		padding-right: 0px;
		padding-left: 0px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.div-block-4 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin-top: 10px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.div-block-6 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.clone_form_button {
		width: 150px;
		margin-right: 0;
	}
}

